@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: #57c4e5;
}

.home-brand {
  margin: 76px 80px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 150px;
  margin-left: 62px;
}

.text h1 {
  color: #050c26;
  font-size: 50px;
  font-weight: 750;
}

.text h1 span {
  color: #f97068;
  font-size: 50px;
  font-weight: 750;
}

.form-search form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin-top: 24px;
  border-radius: 96px;
  background: #fff;
  color: #0f335e;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-search input {
  width: 276px;
  height: 28px;
  border: none;
  outline: none;
}

.form-search button {
  width: 140px;
  height: 42px;
  border-radius: 96px;
  border: none;
  background: #212738;
  color: white;
  margin-top: 2px;
  transition: background-color 0.1s ease-in-out, scale 0.3s ease-in-out;
}

.form-search button:hover {
  background-color: #343e57;
  scale: 1.05;
  cursor: pointer;
}

.form-search button:active {
  scale: 0.9;
}

.image {
  margin-bottom: 100px;
}

.image img {
  width: 650px;
  height: 400px;
  margin-right: 32px;
}

.content-2 {
  background-color: #edf2ef;
}

.header {
  display: flex;
  justify-content: center;
}

.header h1 {
  color: #2b2b2b;
  font-size: 38px;
  font-weight: 650;
  margin-top: 50px;
}

.fill-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-a {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.img-a img {
  width: 400px;
  height: 400px;
}

.text-a {
  width: 440px;
  height: auto;
  margin-left: 200px;
}

.text-a h3 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 550;
}

.content-b {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.img-b img {
  width: 600px;
  height: 385px;
  margin-left: 62px;
}

.text-b {
  width: 440px;
  height: auto;
  margin-left: 72px;
}

.text-b h3 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 550;
}

.content-c {
  display: flex;
  align-items: center;
  padding-right: 90px;
}

.img-c img {
  width: 550px;
  height: 400px;
}

.text-c {
  width: 440px;
  height: auto;
  margin-left: 100px;
}

.text-c h3 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 550;
}

.content-3 {
  display: flex;
  justify-content: center;
  background-color: white;
}

.bg-green {
  text-align: center;
  width: 1470px;
  height: 400px;
  margin-bottom: 400px;
  background-color: #d1d646;
  border-radius: 0px 0px 70px 70px;
}

.content-3-header h1 {
  color: #212738;
  font-size: 44px;
  font-weight: 650;
  padding-top: 42px;
}

.content-3-header svg {
  width: 160px;
  height: 16px;
  margin-left: 240px;
}

.card {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 50px;
}

.card-1 {
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: auto;
  margin: 0px 10px;
}

.card-1 img {
  width: 300px;
  height: 250px;
}

.accsess {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 200px;
  margin-left: 60px;
  border-radius: 40px;
  background: #edf2ef;
}

.accsess h4 {
  color: #263238;
  font-size: 14px;
  font-weight: 700;
}

.card-1 h5 {
  color: #777795;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
  margin-top: 38px;
}

.card-1 h1 {
  color: #0b7077;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.card-1 p {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
  margin-left: 18px;
  margin-bottom: 24px;
  width: 300px;
  text-align: left;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
}

.bottom h4 {
  color: #fd661f;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

.bottom button {
  display: flex;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #0b7077;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-right: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.bottom button:hover {
  background-color: #0e4e52;
}

.content-4 {
  background: #edf2ef;
  padding-bottom: 100px;
}

.banner {
  display: flex;
  justify-content: left;
  color: #2b2b2b;
  margin-left: 50px;
  padding-top: 70px;
  font-size: 25px;
  font-weight: 700;
}

.content-fill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.fill {
  text-align: center;
  margin: 50px auto;
  width: 500px;
}

.fill img {
  width: 507px;
  height: 339px;
  height: auto;
  margin-bottom: 10px;
}

.fill h1,
p {
  margin: 16px auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 1084px;
  border-radius: 14px;
  background-color: #f97068;
  margin: 0px auto;
  padding: 40px 0;
}

.text-kontak {
  color: #2b2b2b;
  text-align: center;
}

.text-kontak h2 {
  font-size: 32px;
  font-weight: 750;
}

.text-kontak p {
  font-size: 18px;
  font-weight: 400;
}

.isi-kontak form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.nama-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nama,
.email {
  margin: 12px;
}

input[type="text1"],
input[type="email"] {
  width: 450px;
  height: 62px;
  border-radius: 40px;
  border: none;
  background: #edf2ef;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  padding-left: 20px;
}

.message {
  margin: 12px;
}

textarea {
  width: 930px;
  height: 292px;
  border-radius: 40px;
  border: none;
  background: #edf2ef;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 25px;
  margin-bottom: 24px;
}

.submit-button {
  text-align: center;
}

input[type="submit"] {
  width: 150px;
  height: 60px;
  font-size: 18px;
  font-weight: 450;
  border-radius: 40px;
  background: #d1d646;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #e2e83d;
}

input[type="submit"]:active {
  scale: 0.95;
}

