<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/about.css" />
    <title>About EduMbel</title>
    <script src="../components/Header.js"></script>
    <script src="../components/Footer.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <header-component></header-component>
    <!-- End Navbar -->

    <!-- Konten 1 -->
    <section class="content-1">
      <div class="content-about">
        <h1>About</h1>
        <h2>EduMbel</h2>
        <p>
          It is an educational technology platform for children that provides
          various core learning courses, exercises, and relevant assignments.
        </p>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="37"
            viewBox="0 0 38 37"
            fill="none"
          >
            <g clip-path="url(#clip0_98_4934)">
              <path
                d="M37.4805 31.992L30.0809 24.7871C29.7469 24.4619 29.2941 24.2812 28.8191 24.2812H27.6094C29.6578 21.7303 30.875 18.5217 30.875 15.0312C30.875 6.72793 23.9652 0 15.4375 0C6.90977 0 0 6.72793 0 15.0312C0 23.3346 6.90977 30.0625 15.4375 30.0625C19.0223 30.0625 22.3176 28.8773 24.9375 26.8828V28.0607C24.9375 28.5232 25.123 28.9641 25.457 29.2893L32.8566 36.4941C33.5543 37.1734 34.6824 37.1734 35.3727 36.4941L37.473 34.449C38.1707 33.7697 38.1707 32.6713 37.4805 31.992ZM15.4375 24.2812C10.1902 24.2812 5.9375 20.1477 5.9375 15.0312C5.9375 9.92207 10.1828 5.78125 15.4375 5.78125C20.6848 5.78125 24.9375 9.91484 24.9375 15.0312C24.9375 20.1404 20.6922 24.2812 15.4375 24.2812Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_98_4934">
                <rect width="38" height="37" fill="white" />
              </clipPath>
            </defs>
          </svg>
          Explore
        </button>
      </div>

      <div class="img-about">
        <img src="../img/puzzle-about.png" alt="" />
      </div>
    </section>
    <!-- End Konten 1 -->

    <!-- Konten 2 -->
    <section class="content-2">
      <div class="header">
        <h1>Features Include</h1>
      </div>

      <div class="content-fill">
        <div class="fill">
          <img src="../img/konten-5.1.png" alt="" />
          <h1>Latest Material</h1>
          <p>
            This latest material is specifically designed to inspire creativity,
            stimulate curiosity and expand your knowledge. We believe that
            learning should be fun and engaging, and that's what we offer here.
          </p>
        </div>
        <div class="fill">
          <img src="../img/konten-5.2.png" alt="" />
          <h1>Material Discussion Video</h1>
          <p>
            We understand that every child has a different way of learning.
            Through these learning videos, we hope to provide fun insights into
            a variety of topics, from science to math, languages, and more.
          </p>
        </div>
        <div class="fill">
          <img src="../img/konten-5.3.png" alt="" />
          <h1>Mentorship</h1>
          <p>
            Through our mentorship program, we aim to provide the necessary
            support for children to achieve academic success and develop into
            individuals who are creative, open-minded, and ready to face future
            challenges.
          </p>
        </div>
        <div class="fill">
          <img src="../img/kontent-5.4.png" alt="" />
          <h1>Community Forum</h1>
          <p>
            We are thrilled to have you join us on this fun, educational
            journey. This forum is a great place to share knowledge, experience
            and inspiration in the world of education for children.
          </p>
        </div>
      </div>
    </section>
    <!-- End Konten 2 -->

    <!-- Footer -->
    <footer-component></footer-component>
    <!-- End Footer -->


    
  </body>
</html>
