<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/courseview.css" />
    <title>Course View</title>
    <script src="../components/Header.js"></script>
    <script src="../components/Footer.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <header-component></header-component>
    <!-- End Navbar -->

    <!-- Konten 1 -->
    <section class="course-view">
      <div class="course-content">
        <div class="card-course">
                <img src="../img/indonesia.png" alt="" />
                <h3>Indonesian</h3>
                <h4>Course Detail</h4>
                <div class="garis"></div>
                <div class="course-total">
                  <img src="../img/course.svg" alt="" />
                  <h5>6 courses materials</h5>
                </div>
                <div class="vidio">
                  <img src="../img/vidio.svg" alt="" />
                  <h5>6 vidios</h5>
                </div>
                <button>Enroll Now</button>
        </div>
        <div class="course-detail">
          <div class="intro-card">
            <h1>Introduction to Indonesian Course</h1>
            <div class="duration">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="23"
                viewBox="0 0 26 23"
                fill="none"
              >
                <path
                  d="M13 0C5.81855 0 0 5.14718 0 11.5C0 17.8528 5.81855 23 13 23C20.1815 23 26 17.8528 26 11.5C26 5.14718 20.1815 0 13 0ZM15.9931 16.2345L11.3698 13.2621C11.2073 13.1554 11.1129 12.9885 11.1129 12.8123V5.00806C11.1129 4.70202 11.396 4.45161 11.7419 4.45161H14.2581C14.604 4.45161 14.8871 4.70202 14.8871 5.00806V11.3933L18.2157 13.5357C18.4988 13.7165 18.5565 14.0643 18.352 14.3147L16.8738 16.1139C16.6694 16.3597 16.2762 16.4153 15.9931 16.2345Z"
                  fill="black"
                />
              </svg>
              <h5>Duration : 2 Months</h5>
            </div>
          </div>
          <div class="vidio-detail">
            <div class="about-card">
              <img src="../img/vidio.svg" alt="" />
              <h1>Vidio</h1>
            </div>
            <div class="garis"></div>
              <div class="desc">
                <h3>Class 1</h3>
                <h3>05:10</h3>
              </div>
              <div class="garis"></div>
              <div class="desc">
                <h3>Class 2</h3>
                <h3>05:50</h3>
              </div>
              <div class="garis"></div>
              <div class="desc">
                <h3>Class 3</h3>
                <h3>06:10</h3>
              </div>
              <div class="garis"></div>
              <div class="desc">
                <h3>Class 4</h3>
                <h3>06:50</h3>
              </div>
              <div class="garis"></div>
              <div class="desc">
                <h3>Class 5</h3>
                <h3>07:10</h3>
              </div>
              <div class="garis"></div>
              <div class="desc">
                <h3>Class 6</h3>
                <h3>08:10</h3>
              </div>
              <div class="garis"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Konten 1 -->

    <!-- Kontent 2 -->
    <section class="riview-course">
      <div class="review">
        <button id="description">Description</button>
        <button id="teacher">Who Teaches</button>
        <div class="indo-desc">
          <p>
            Indonesian language subjects in elementary school education are one
            of the core subjects that teach students the basics of Indonesian
            language skills. This subject has several main components, including
            learning to read, write, listen, speak, and understand grammar and
            spelling rules in Indonesian. The aim of this subject is to develop
            students' communication skills in their mother tongue, increase
            their understanding of Indonesian culture and literature, and teach
            the values ​of cultural diversity in an Indonesian language context.
          </p>
        </div>
        <div class="teacher">
          <p>
            You will learn with Endang Kristiani - Headmaster of Kristen Kalam
            Kudus School.
          </p>
        </div>
      </div>
    </section>
<!-- End Kontent 2 -->

    <!-- Footer -->
    <footer-component></footer-component>
    <!-- End Footer -->
    <script src="../script/courseview.js"></script>
  </body>
</html>
