<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <title>Home</title>
    <script src="../components/Header.js"></script>
    <script src="../components/Footer.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <header-component></header-component>
    <!-- End Navbar -->

    <!-- Konten 1 -->
      <section class="home-brand">
        <div class="text-form" data-aos="fade-right" data-aos-duration="2000"  data-aos-delay="100">
          <div class="text">
            <h1>
              Educational <br />
              <span>Technology Space</span> <br />
              Solutions for <br />
              Children
            </h1>
          </div>
          <div class="form-search">
            <form action="" method="GET">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
              >
                <g clip-path="url(#clip0_96_573)">
                  <path
                    d="M15.9381 14.0196C17.0068 12.5601 17.646 10.7675 17.646 8.82408C17.646 3.95922 13.6879 0.0010376 8.823 0.0010376C3.95814 0.0010376 0 3.95922 0 8.82408C0 13.6889 3.95818 17.6471 8.82304 17.6471C10.7664 17.6471 12.5593 17.0078 14.0187 15.939L19.7989 21.7192L21.7183 19.7998C21.7183 19.7998 15.9381 14.0196 15.9381 14.0196ZM8.82304 14.9323C5.45475 14.9323 2.7148 12.1924 2.7148 8.82408C2.7148 5.45579 5.45475 2.71584 8.82304 2.71584C12.1913 2.71584 14.9313 5.45579 14.9313 8.82408C14.9313 12.1924 12.1913 14.9323 8.82304 14.9323Z"
                    fill="#0F335E"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_96_573">
                    <rect width="21.7183" height="21.7183" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <input
                type="text"
                name="query"
                placeholder="Find the Course you Choose"
                class="input-search"
                required
              />
              <button type="submit">Search</button>
          </div>
        </div>
          <img src="../img/pict-home.png" alt=""  class="img-hero" data-aos="fade-left" data-aos-duration="1000"/>
    </section>
    <!-- End Konten 1 -->

    <!-- Konten 2 -->
    <section class="content-2">
      <div class="header" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
        <h1>Why Choose Us ?</h1>
      </div>
        <div class="content-a">
          <div class="img-a">
            <img src="../img/konten-3.1.png" alt="" data-aos="fade-down-right" data-aos-duration="900"/>
          </div>
          <div class="text-a" data-aos="fade-left" data-aos-duration="900">
            <h3>Detailed Syllabus with Localized Content</h3>
            <p>
              We’ve got a comprehensive syllabus that leaves nothing untouched
              and with our localized contents and examples, you are sure to
              grasp programming concepts easier and faster even without prior
              experience.
            </p>
          </div>
        </div>
        <div class="content-b">
          <div class="text-b" data-aos="fade-right" data-aos-duration="900">
            <h3>Attractive with an Appearance Specifically for Children</h3>
            <p>
              Providing a cheerful interface, age-appropriate content, a fun 
              learning approach, safety, easy accessibility, and contributing 
              to children's educational progress. This website enables children 
              to learn in a safe and engaging manner, enhancing their motivation 
              to learn.
            </p>
          </div>
          <div class="img-b">
            <img src="../img/konten-3.2.png" alt="" data-aos="fade-down-left" data-aos-duration="900"/>
          </div>
        </div>
        <div class="content-c">
          <div class="img-c">
            <img src="../img/konten-3.3.png" alt="" data-aos="fade-down-right" data-aos-duration="900"/>
          </div>
          <div class="text-c" data-aos="fade-left" data-aos-duration="900">
            <h3>An Interactive Personalized Learning Experience</h3>
            <p>
              An educational website that provides a personalized learning 
              experience from teachers. The advantages include interesting learning, 
              tailored to individual abilities, easy access, monitoring and security, 
              as well as contribution to children's educational progress.
            </p>
          </div>
        </div>
    </section>
    <!-- End Konten 2 -->

    <!-- Konten 3 -->
    <section class="content-3">
      <div class="background"></div>
      <div class="isi-content-3">
        <div class="header-content-3" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
          <h1>Popular Course</h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="179"
            height="11"
            viewBox="0 0 179 11"
            fill="none"
          >
            <path
              d="M0.999969 8.34622C49.5338 0.257249 116.717 -0.416874 177.834 8.34622"
              stroke="#F97068"
              stroke-width="4"
            />
          </svg>
        </div>
        <div class="card-container" data-aos="zoom-in-up" data-aos-duration="1000"  data-aos-delay="100"></div>
      </div>
    </section>
    <!-- End Konten 3 -->

    <!-- Konten 4 -->
    <section class="content-4">
      <div class="banner" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
        <h1>Features Include</h1>
      </div>
      <div class="content-fill" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000"></div>
      <div id="contact" class="contact">
        <div class="text-kontak" data-aos="zoom-in" data-aos-duration="900">
          <h2>Contact</h2>
          <p>
            Any feedback on the advantages and disadvantages that you provide
          </p>
        </div>
        <div class="isi-kontak">
          <form action="">
            <div class="nama-email" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-delay="200">
              <div class="nama">
                <input type="text1" placeholder="Full Name" required />
              </div>
              <div class="email">
                <input type="email" placeholder="Email Address" required />
              </div>
            </div>
            <div class="message" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-delay="400">
              <textarea
                name="pesan"
                id=""
                cols="30"
                rows="10"
                placeholder="Write a message here....."
                required
              ></textarea>
            </div>
            <div class="submit-button" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-delay="600">
              <input type="submit" value="Send" />
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Konten 4 -->

    <!-- Footer -->
    <footer-component></footer-component>
    <!-- End Footer -->
    <script src="../script/home.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
